.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  top: 30px;
  left: 30px;
}

.nav__links {
  position: relative;
  right: 80px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style-type: none;
  padding-left: 0;
}
