.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  top: 30px;
  left: 30px;
}

.nav__links {
  margin-right: 80px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.nav__link {
  transition: color 0.15s ease-in-out;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #2f80ed;
}
