a {
  text-decoration: none;
  color: #000;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  top: 30px;
  left: 30px;
}

.nav__links {
  position: relative;
  right: 80px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style-type: none;
  padding-left: 0;
}

.header__title {
  max-width: 729px;
  margin-left: 80px;
  margin-bottom: 0;
  position: relative;
  margin-top: 183px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  margin-top: 28px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
  margin-bottom: 40px;
}

.header__footer-schedule {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__paragraph {
  margin: 0;
  margin-top: auto;
  margin-right: 80px;
}

.recipes {
  padding-top: 100px;
  padding-bottom: 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__caption-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-top: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.recipes__caption-title {
  margin-top: 24px;
  margin-bottom: 0;
}

.recipes__caption-time {
  margin-top: 24px;
  margin-bottom: 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  margin-bottom: 80px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin-left: auto;
  margin-right: auto;
}

.from {
  border: 0;
}

.form__fieldset {
  max-width: 385px;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

.form__input {
  margin-bottom: 32px;
  height: 60px;
  min-width: 385px;
  max-width: 385px;
  border-radius: 4px;
  border-color: #838383;
  border-width: 1px;
  margin-top: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 17px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.form__button {
  min-width: 404px;
  height: 60px;
  border: 0;
  background-color: #2f80ed;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 0;
  transition: opacity 0.15s ease-in-out;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  margin-right: 12px;
  margin-top: 32px;
  margin-bottom: auto;
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.form__label {
  align-self: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  max-width: 385px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
